@import url('https://fonts.googleapis.com/css?family=Lato|Baumans');

:root {
	--offblack:#2b2b2d;
	--offwhite:#ececec;
	--lighteroffblack:#4d4d4f;
	--darkeroffwhite:#cacaca;
	--accent:#86BBD8;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow-x:hidden;
}

header {
	position:fixed;
	width:100%;
	height:10%;
	background:var(--offblack);
}

header nav {
	width:100%;
	height:100%;
}

header nav ul {
	float:left;
	padding:0;
	padding-left:10%;
	height:100%;
	list-style-type:none;
}

header nav ul#two-fifths {
	width:30%;
}

header nav ul#two-fifths li a {
	-moz-user-select:none;
	user-select:none;
}

header nav ul#two-fifths li img {
	max-width:156px;
	width:auto;
	height:auto;
}

header nav ul li a {
	transition:.5s ease;
}

header nav ul li a:hover {
	transition:.5s ease;
	font-size:200%;
}

header nav ul#three-fifths {
	width:50%;
}

header nav ul#three-fifths li a {
	-moz-user-select:none;
	user-select:none;
}

#hamburger-wrapper i {
	visibility:hidden;
}


header nav ul li {
	display:inline;
	padding:0 2%;
	color:var(--offwhite);
}

header nav ul li a {
	color:var(--offwhite);
	text-decoration:none;
	font-family:'Lato', sans-serif;
	font-size:150%;
}

section {
	padding-top:10vh;
	width:100%;
	height:90%;
}

section.one-third {
	float:left;
	padding:0;
	width:33.33%;
	height:100%;
}

section.one-fourth-vertical {
	float:left;
	padding:0;
	width:100%;
	height:25%;
	background:var(--accent);
	transition:.5s ease;
}

section#home {
	background:var(--offwhite);
	color:var(--offblack);
}

section#aboutus { background:var(--offblack); }

.content-text {
	visibility:hidden;
}

.content-title {
	transition:.5s ease;
	cursor:default;
	-moz-user-select:none;
	user-select:none;
}

.content-title:hover {
	transition:.5s ease;
	font-size:225%;
}

#learn-about-bar {
	background:var(--offblack);
	color:var(--accent);
}

#title-link a {
	color:var(--accent);
	font-family:'Baumans';
}

.wrapper {
	float:left;
	margin-top:5vh;
	margin-left:5%;
	width:90%;
	height:90%;
}

section h1 {
	text-indent:2%;
	width:100%;
	font-family:'Baumans', display;
	font-size:200%;
}

section p {
	text-indent:2%;
	width:100%;
	font-family:'Lato', sans-serif;
	font-size:150%;
	margin-top:0;
}

section#home h1 {
	text-align:center;
	margin-top:25vh;
	font-size:400%;
}

section#home h1::-moz-selection {
	background:var(--offblack);
	color:var(--accent);
}

section#home h1::selection {
	background:var(--offblack);
	color:var(--accent);
}

section#home p {
	text-align:center;
	font-size:250%;
}

section#home p::-moz-selection {
	background:var(--offblack);
	color:var(--accent);
}

section#home p::selection {
	background:var(--offblack);
	color:var(--accent);
}

section textarea {
	float:left;
	
	width:calc(50% - 10px);
	height:calc(15% - 20px);
	margin-right:10px;
	margin-bottom:10px;
	
	padding:0px;
	padding-top:10px;
	
	-moz-resize:none;
	resize:none;
	font-family:'Lato', sans-serif;
	font-size:150%;
	border:0;
	outline:0;
	background:var(--accent);
	color:var(--offblack);
	
	text-indent:20px;
}

section#contact {
	background:var(--offwhite);
}

section#contact textarea::-moz-placeholder {
	color:var(--lighteroffblack);
}

section#contact textarea::placeholder {
	color:var(--lighteroffblack);
}

#contact-phone, #contact-subject {
	width:50%;
	margin-right:0;
}

section textarea::-moz-placeholder {
	color:var(--darkeroffwhite);
}

section textarea::placeholder {
	color:var(--darkeroffwhite);
}

#contact-message {
	width:100%;
	height:55%;
}

#contact-send {
	width:100%;
	height:10%;
	background:var(--accent);
	color:var(--offblack);
	border:0;
	font-family:'Lato', sans-serif;
	font-size:150%;
}

#input-text {
	width:100%;
	background:var(--offblack);
	color:var(--offwhite);
}

#product {
	height:95vh;
}

#product iframe {
	width:100%;
	height:100%;
}

footer {
	padding-top:2vh;
	padding-bottom:6vh;
	width:100%;
	height:9%;
	background:var(--offblack);
}

footer ul {
	width:100%;
	height:100%;
	list-style-type:none;
}

footer li {
	display:inline;
	padding:0 2%;
	height:100%;
}

footer li p {
	float:left;
	width:50%;
	background:var(--offblack);
	color:var(--offwhite);
	font-family:'Lato', sans-serif;
}

footer li i {
	height:100%;
	vertical-align:middle;
	font-size:250%;
	color:var(--offwhite);
}

footer li i:hover {
	color:var(--darkeroffwhite);
}

@media only screen and (max-width: 980px) {
	header nav ul#two-fifths {
		width:100%;
	}
	#hamburger-wrapper {
		padding-left:22.5vw;
	}
	#hamburger-wrapper i {
		visibility:visible;
	}
	header nav ul#three-fifths {
		visibility:hidden;
		position:absolute;
		top:5vh;
		left:60vw;
		height:30vh;
		width:30vw;
		background:var(--offblack);
		border:solid 1px var(--offwhite);
	}
	header nav ul#three-fifths li {
		display:block;
		padding:2.5% 0;
	}
	section#home h1 {
		font-size:200%;
	}
	section#home p {
		font-size:150%;
	}
	.one-third .wrapper h1 {
		font-size:150%;
	}
	.one-third .wrapper p {
		font-size:100%;
	}
	footer li i {
		font-size:100%;
		padding-top:4vh;
	}
	footer li {
		padding:0 1%;
	}
	footer {
		padding-bottom:10vh;
	}
}