@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

header {
	position:fixed;
	top:0;
	left:0;
	padding-top:1vh;
	width:100%;
	height:9%;
	background:#2b2b2d;
}

header nav {
	width:980px;
	height:100%;
	margin:0 auto;
}

header nav ul {
	width:100%;
	height:100%;
	list-style-type:none;
}

header nav ul li {
	display:inline;
	padding:0 2%;
}

header nav ul li a {
	color:#ececec;
	text-decoration:none;
	font-family:'Lato';
	font-size:125%;
}

#home-link {
	margin-left:40%;
}

section {
	padding-top:10vh;
	width:100%;
	height:90%;
}

section.one-third {
	float:left;
	padding:0;
	width:33.33%;
	height:100%;
}

section#home {
	background:#ADCAD6;
}

.wrapper {
	float:left;
	margin-top:5vh;
	margin-left:5%;
	width:90%;
	height:90%;
}

section h1 {
	text-indent:2%;
	width:100%;
	font-family:'Lato', sans-serif;
	font-size:200%;
}

section p {
	text-indent:2%;
	width:100%;
	font-family:'Lato', sans-serif;
	font-size:150%;
	margin-top:0;
}

section#home h1 {
	text-align:center;
	margin-top:25vh;
	font-size:400%;
}

section#home p {
	text-align:center;
	font-size:250%;
}

section textarea {
	margin-left:5%;
	width:90%;
	height:10%;
	-moz-resize:none;
	resize:none;
	font-family:'Lato', sans-serif;
	font-size:150%;
	border:0;
	outline:0;
	background:#2b2b2d;
	color:#ececec;
}

section textarea::-moz-placeholder {
	color:#cacaca;
}

section textarea::placeholder {
	color:#cacaca;
}

#contact-name {
	margin-top:2.5%;
}

#contact-message {
	height:60%;
}
